### Compiled media ###
/web/media/stylesheets/app.css
/web/media/stylesheets/fonts.css
/web/media/javascripts/app.js
/web/media/javascripts/fonts.js
/app/assets/sprites/*/_sprite.scss
/app/assets/sprites/*/sprite.html
.sass-cache/

### CMS media ###
/web/uploads/images/*

# Yarn
/node_modules
/yarn-error.log

# (Add yarn.lock instead of these)
/package-lock.json
/npm-shrinkwrap.json

### OS X ###
.DS_Store

### Craft ###
/.env
/vendor
