### Compiled media ###
/public/media/stylesheets/app.css
/public/media/stylesheets/fonts.css
/public/media/javascripts/app.js
/public/media/javascripts/fonts.js
/app/assets/sprites/*/_sprite.scss
/app/assets/sprites/*/sprite.html
.sass-cache/

# Yarn
/node_modules
/yarn-error.log

# (Add yarn.lock instead of these)
/package-lock.json
/npm-shrinkwrap.json

### OS X ###
.DS_Store

### Craft ###
/.env
/vendor
