{% extends "_layout" %}

{% block content %}

<div class="grid-x">
	<div class="small-12 medium-10 large-8 large-offset-1 cell">
		<div class="fmt">
			{{ entry.body }}
		</div>
	</div>
</div>

{% endblock %}
