.footer {

  li {
    display: inline-block;
    margin: 0 3px;
  }

  li:first-child {
    margin-left: 0;
  }

  li:last-child {
    margin-right: 0;
  }

  .icon {
    width: 16px;
    height: 16px;
  }
}

.footer__copy {
  margin-top: size(small);
  font-size: 12px;
}
