@import 'featherlight/src/featherlight.css';
@import 'featherlight/src/featherlight.gallery.css';

// Featherlight overrides
.featherlight:last-of-type {
  background-color: rgba(white, 0.9);
  overflow: initial;
}

.featherlight .featherlight-content {
  @include hide-scrollbars;
  background-color: transparent;

  @include breakpoint(medium down) {
    padding: size(large);
  }
}

.featherlight-close-icon.featherlight-close {
  font-size: 20px;
  font-weight: bold;
  background: transparent;
}

.featherlight-previous,
.featherlight-next {
  top: 50%;
  bottom: auto;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);

  span {
    display: block;
    top: 0;
    width: 20px;
    height: 20px;
    margin-top: 0;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
  }

  path {
    fill: black;
  }
}

.featherlight-previous {
  right: auto;
  left: 0;

  @include breakpoint(medium down) {
    left: size(small);
  }
}

.featherlight-next {
  right: 0;
  left: auto;
  transform: translateY(-50%) rotate(180deg);

  @include breakpoint(medium down) {
    right: size(small);
  }
}
