.page {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 100vh;
  z-index: 10;

  @include breakpoint(large up) {
    width: calc(100% / 12 * 10); // Space remaining after side-nav
    margin-left: calc(100% / 12 * 2);
  }
}

.page__header,
.page__footer {
  z-index: 20;

  @include breakpoint(large up) {
    display: none;
  }
}

.page__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.page__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: size(small) size(large);
}
