.project {
  position: relative;
  width: 100%;
  padding: size(medium);

  img {
    width: 100%;
  }

  @include breakpoint(medium up) {
    padding: size(large);
  }
}

.project__item {
  max-height: 100vh;
  margin-bottom: size(large);

  &:last-child {
    margin-bottom: 0;
  }

  img {
    max-height: 100vh;
    margin: auto;
    object-fit: contain;
  }
}

.project__item--inline {
  display: flex;
  flex-wrap: wrap;

  @include breakpoint(large up) {
    flex-wrap: nowrap;

    > .project__image:nth-child(odd) {
      padding-right: size(medium);
    }

    > .project__image:nth-child(even) {
      padding-left: size(medium);
    }
  }
}

.project__item--right {

  @include breakpoint(large up) {
    .project__image {
      padding-right: 0 !important;
      margin-left: auto;
    }
  }
}

.project__item--center {

  @include breakpoint(large up) {

    .project__image {
      padding: 0 !important;
      margin: auto;
    }
  }
}

.project__item--left {

  @include breakpoint(large up) {

    .project__image {
      padding-left: 0 !important;
      margin-right: auto;
    }
  }
}

.project__image {
  width: 100%;
  margin-bottom: size(large);

  @include breakpoint(large up) {
    width: 50%;
  }
}

.project__image:last-child {
  margin-bottom: 0;
}

.project__label {
  padding-top: size(small);

  p {
    font-size: 12px;
    text-align: center;
  }
}
