.side-nav {

  @include breakpoint(medium down) {
    display: none;
  }

  @include breakpoint(large up) {
    @include hide-scrollbars;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% / 12 * 2);
    height: 100vh;
    padding-left: size(large);
    overflow: scroll;
  }
}

.side-nav__inner {
  position: relative;
  height: auto;
  min-height: 100vh;

  > * {
    width: 100%;
  }
}

.side-nav__main,
.side-nav__footer {
  padding: size(large) 0;
  font-size: 16px;
  letter-spacing: 0.05rem;
}

.side-nav__list ~ .side-nav__list {
    padding-top: size(large);
}

.side-nav__item {
  padding: size(small) / 2 0;
  font-size: 12px;
}

.side-nav__item--inline {
  display: inline-block;
  margin: 0 3px;

  .icon {
    width: 16px;
    height: 16px;
  }
}

.side-nav__item--inline:first-child {
  margin-left: 0;
}

.side-nav__item--inline:last-child {
  margin-right: 0;
}

.side-nav__item:first-child {
  padding-top: 0;
}

.side-nav__item:last-child {
  padding-bottom: 0;
}

.side-nav__dropdown {
  height: 0;
  padding: 0 0 0 size(small);
  transition: height 295ms 0, visibility 295ms 295ms;
  visibility: hidden;

  > .side-nav__item:first-child {
    padding-top: size(small);
  }

  .side-nav__item.dropdown-is-open & {
    height: auto;
    transition: height 295ms 295ms, visibility 295ms 0;
    visibility: visible;
  }
}

.side-nav__link.is-active {
  color: color(mid);
}

.side-nav__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
