.slider {
  position: relative;
  width: 100%;
  padding-top: size(large);
  padding-right: size(large);
}

.slider__toggle {
  @include transition((background, transform));
  position: absolute;
  top: size(large);
  right: size(large);
  padding-bottom: size(medium);
  font-size: 12px;
  cursor: pointer;
  z-index: 5;

  span:nth-child(2) {
    display: none;
  }

  &.thumbnails-open {
    span:first-child {
      display: none;
    }

    span:nth-child(2) {
      display: block;
    }
  }
}

.slider__inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: none;
}

.slide {
  display: flex;
  width: 100%;
  height: auto;
  padding: size(large) size(large) size(medium);
  align-items: center;

  img {
    width: 100%;
    height: auto;
    max-height: calc(100vh - 180px);
    object-fit: contain;
  }
}

.slide--left {

  img {
    object-position: left center;
  }

  .slide__label {
    padding: 0 size(large) * 2;
    text-align: left;
  }
}

.slide--right {

  img {
    object-position: right center;
  }

  .slide__label {
    padding: 0 size(large) 0 size(large) * 2;
    text-align: right;
  }
}

.slide--center {

  img {
    margin: auto;
  }
  .slide__label {
    padding: 0 size(large) * 2;
    text-align: center;
  }
}



.slide__label {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  font-size: 12px;
}

// Flickity overrides

.flickity-viewport {
  overflow: hidden;
}

.flickity-button {
  position: absolute;
  bottom: 0;
  width: 8px;
}

.flickity-button-icon path {
  stroke: 0;
  fill: black;
}

.flickity-prev-next-button.previous {
   left: size(large);
}

.flickity-prev-next-button.next {
  left: 60px;
}
