{% set title = "404" %}
{% extends "_layout" %}

{% block content %}

	<div class="fmt">
		<h1>Sorry, the page you are looking for can't be found.</h1>
		<p>This could be because:</p>
		<ul>
			<li>The URL is wrong, please check and try again.</li>
			<li>The page has been moved.</li>
		</ul>
		<p><a href="/">Go back to the homepage</a></p>
	</div>

{% endblock %}
