<!doctype html>
<html lang="en" class="feature--no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title></title>
		<meta name="description" content="">

		<style>
		  @import url("https://use.typekit.net/wuo4geg.css");
		</style>

		<script src="/media/javascripts/fonts.js"></script>
		<link rel="stylesheet" href="/media/stylesheets/fonts.css">
		<link rel="stylesheet" href="/media/stylesheets/app.css">
		<script src="/media/javascripts/modernizr.js"></script>
		<script async src="/media/javascripts/app.js"></script>
	</head>
	<body>
		{% include "_shared/side-nav" %}

		<div class="page">
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</div>

	</body>
</html>
