html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 100%;
}

body {
  @include font-haas;
  min-height: 100%;
}

body.no-scroll {
  position: fixed;
  width: 100%;
  height: 100%;

  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
